# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# iOS
ios/Pods/
ios/Flutter/.last_build_id

# Android
android/.gradle/
android/build/
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
